# Python
__pycache__/
*.pyc
venv/
env/
*.log

# Environment files
.env
*.env

# Build / dist
build/
dist/
*.egg-info/

# Node / React Native / Expo
node_modules/
.expo/
.expo-shared/
npm-debug.log*
yarn-error.log*
package-lock.json

# OS & Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
