# Python
__pycache__/
*.pyc
venv/
env/
*.log

# Environment files
.env
*.env
.env.production

# Build / dist
build/
dist/
*.egg-info/

# Node / React Native / Expo
node_modules/
frontend/.netlify/
.expo/
.expo-shared/
npm-debug.log*
yarn-error.log*
/package-lock.json
!frontend/package-lock.json

# OS & Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
